<h1>New Comment</h1>
<%= form_for :comment, url: comments_path do |f| %>
  <p>
    <%= f.label :URL %><br>
    <%= f.text_field :url %>
  </p>
 
  <p>
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
